@import "tailwindcss";

.video-wr::before {
    content: "";
    width: 100%;
    height: calc(100vh + 56px);
    display: block;
    background: rgba(16,24,40,.75);
    position: absolute;
    top: 0;
    left: 0;
}